*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; /* google*/
}


.b{
    background-size: 100px;
    background-color: #181717;
    background-position: center;
    height: 1200px;

    background-position-y:-40px ;
    margin-top: 10px;
}
.nav-background{
    width: 100%;
    height: 50px;
    background-color: #000000;
    margin-top: -10px;
    position: fixed;
}
.glass{
background: linear-gradient(135deg, rgba(255, 255, 255,), rgba(255, 255, 255,));
backdrop-filter: blur(100px);
-webkit-backdrop-filter: blur(10px);
border-radius: 20px;
border: 10px solid d3d618;
/*box-shadow: 0 8 32px 0 rgba (0, 0, 0, 0.37 );*/
box-shadow: 0 8 32px 0 rgba (0, 0, 0, 0.37 );
color: red;
margin-top: 1px;
/* nav fix position*/
width: 100%;
position: fixed;
}
.x{
    list-style: none;
    margin-left: 710px;
    display: inlin;
    position: fixed;/*-----------*/
}
.y{
    display: inline;
    color: rgb(255, 255, 255);
    margin-left: 70px;/* nav item space*/
    font-family: "Gothama";
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    
    
}
.y:hover,
tw-link:hover{
    color: #d3d618;

}
.logo-main{
    width: 120px;
    margin-top: 50px;
    margin-left: 30px;
}
.Social{
    margin-top: 340px;
    
}
.social-icon{
    margin-left: 1300px;
    color: #d3d618; 
    height: 100px;
    transition: color 0.3;
    position: fixed;/*-----------*/
}
.social-icon:hover{
    color:#ffffff;   
}

/*-----Resume  Start---------*/
.about-img{
  margin-top: -430px;
  margin-left: 60px;
}
.about-information{
  margin-left: 650px;
  margin-top: -465px;   
}
.about-information1{
    font-size: 30px;
    font-weight: bold;
    color: #d3d618;
    letter-spacing: 2px;
}
.about-information2{
    font-size: 20PX;
    color: white;
    font-weight: bold;
    letter-spacing: 3px;
}
.about-information3{
    font-size: 15px;
    color: #999999;
    letter-spacing: 0.5px;
}
.about-information4{
    font-size: 15px;
    color: #999999;
    letter-spacing: 2px;
    line-height: 38px;
}

.btn-cv-downlord{
  background-color: #d3d618;  
  border: none;
  padding: 7px 30px ;
  cursor: pointer;
  font-size: 15px;
  color:#000000 ;
  margin-left: -0px;
  border-radius: 20px;
}
.btn-cv-downlord :hover{
    background-color: 999999;
}
 /* about skils*/
.about-skills-heading{
    font-size: 20px;
    color: white;
    margin-left: 655px;
    margin-bottom: 20px;
}
.skill-paragrah{
 margin-left: -40px;
 color:#999999 ;
 letter-spacing: 1px;
 line-height: 30px;
}
/*-----*/
.skill-soft{
    margin-left:75px ;
}
.skill-soft-levels{
    list-style: none;
}
.skill-items-soft-1{
    width: 16%;
    background-color: #d3d618;
    color: #181717;
    font-weight: bold;
    border-radius: 10px;
    padding-left: 15px;
    line-height: 20px;
    margin-left: -13px;
    margin-top: 28px;
} 
.skill-items-soft-2{
    width: 13%;
    background-color: #d3d618;
    color: #181717;
    font-weight: bold;
    border-radius: 10px;
    padding-left: 15px;
    line-height: 20px;
    margin-left: 235px;
    margin-top: 29x;
} 
.skill-items-soft-3{
    width: 11.5%;
    background-color: #d3d618;
    color: #181717;
    font-weight: bold;
    border-radius: 10px;
    padding-left: 19px;
    line-height: 20px;
    margin-left: 435px;
    margin-top: 10px;
}
/*-----*/
.skill-informations{
    margin-left: 800px;
    margin-right: 70px;
    margin-top: -225px;
    
}
.skill-levels{
    list-style: none;
    color: #999999;
    line-height: 20px;
    letter-spacing:2px;
}
.skill-full-bar{
    width: 100%;
    background-color: #999999;
    border-radius: 10px 10px;
}
.skill-bar-figma{
    width: 75%;
    background-color: #d3d618;
    color: #d3d618;
    font-weight: bold;
    border-radius: 10px;
    padding-left: 15px;
}
.skill-bar-xd{
    width: 80%;
    background-color: #d3d618;
    color: #d3d618;
    font-weight: bold;
    border-radius: 10px;
    padding-left: 15pxx;
}
.skill-bar-html{
    width: 70%;
    background-color: #d3d618;
    color: #d3d618;
    font-weight: bold;
    border-radius: 10px;
    padding-left: 15px;
}
.skill-bar-css{
    width: 60%;
    background-color: #d3d618;
    color: #d3d618;
    font-weight: bold;
    border-radius: 10px;
    padding-left: 15px;
}

/* */
/*-----Resume  End-----------*/