*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; /* google*/
}


.b{
    background-image: url("img/--- ");
    background-size: 100%;
    background-color: #181717;
    background-position: center;
    height: auto;

    background-position-y:-40px ;
}

/* Glass Effecct*/
.glass{
background: linear-gradient(135deg, rgba(255, 255, 255,), rgba(255, 255, 255,));
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
border-radius: 20px;
border: 1px solid rgba(255, 255, 255,);
box-shadow: 0 8 32px 0 rgba (0, 0, 0, 0.37 );
color: red;
margin-top: 10px;
}
.x{
    list-style: none;
    margin-left: 710px;
    display: inlin;
    
}
.y{
    display: inline;
    color: white;
    margin-left: 70px;/* nav item space*/
    font-family: "Gothama";
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    
}
.y:hover,
tw-link:hover{
    color: #d3d618;
    
}
.logo-main{
    width: 120px;
    margin-top: 20px;
    margin-left: 30px;
}









.headding-1{
    color: #d3d618;
    font-size: 30px;
    font-weight: normal;
    margin-left: 200px;
    margin-top: -100px;
    letter-spacing: 4px;
}
.headding-2{
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    margin-left: 200px;
    margin-top: 10px;
    letter-spacing: 25px;
}
.paragraph{
    font-size: 15px;
    letter-spacing: 4px;
    line-height: 25px;
    color: #999999;
    margin-left:45px;
}
/*----------*/
.work-fold-1{
    background: #1f1f1e;  
    color: #999999;
    position: absolute;
    top: 72%;
    left: 11%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
    border-radius: 10px;
  }
  .work-fold-1:after{
     position: absolute; 
    content:'';
    right: 0;
    top: 0;
  }
  .work-fold-1:hover:after{
      transition-duration: 1s;
      border-bottom: 50px solid blue;
      border-right: 50px solid white;
  }
  /*----------*/
  .work-fold-2{
      background: #c914ab;  
      color: #999999;
      position: absolute;
      top: 72%;
      left: 29%;
      transform: translate(-50%, -50%);
      height: 200px;
      width: 200px;
      border-radius: 10px;
    }
    .work-fold-2:after{
       position: absolute; 
      content:'';
      right: 0;
      top: 0;
    }
    .work-fold-2:hover:after{
        transition-duration: 1s;
        border-bottom: 50px solid blue;
        border-right: 50px solid white;
    }
  /*----------*/
  .work-fold-3{
      background: #d3d618;  
      color: #999999;
      position: absolute;
      top: 72%;
      left: 47%;
      transform: translate(-50%, -50%);
      height: 200px;
      width: 200px;
      border-radius: 10px;
    }
    .work-fold-3:after{
       position: absolute; 
      content:'';
      right: 0;
      top: 0;
    }
    .work-fold-3:hover:after{
        transition-duration: 1s;
        border-bottom: 50px solid blue;
        border-right: 50px solid white;
    }
    /*----------*/
    .work-fold-4{
        background: #680edf;  
        color: #999999;
        position: absolute;
        top: 72%;
        left: 65%;
        transform: translate(-50%, -50%);
        height: 200px;
        width: 200px;
        border-radius: 10px;
      }
      .work-fold-4:after{
         position: absolute; 
        content:'';
        right: 0;
        top: 0;
      }
      .work-fold-4:hover:after{
          transition-duration: 1s;
          border-bottom: 50px solid blue;
          border-right: 50px solid white;
      }
    /*----------*/
   .work-fold-5{
      background: #0edfdf;  
      color: #999999;
      position: absolute;
      top: 72%;
      left: 83%;
      transform: translate(-50%, -50%);
      height: 200px;
      width: 200px;
      border-radius: 10px;
    }
    .work-fold-5:after{
       position: absolute; 
      content:'';
      right: 0;
      top: 0;
    }
    .work-fold-5:hover:after{
        transition-duration: 1s;
        border-bottom: 50px solid blue;
        border-right: 50px solid white;
    }
  /*----------*/


.Social{
    margin-top: 25px;
}
.social-icon{
    margin-left: 1300px;
    color: #d3d618; 
    height: 100px;
    transition: color 0.3;
}
.social-icon:hover{
    color:#ffffff;   
}

/*----------*/